@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:ital,wght@0,500;1,900&display=swap');



body {
  font-family: 'Lora', serif;
  font-size: 1.2rem;

}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: -1px;
}

h1 {
  background: white;
  margin-top: -10%;
  padding: 6rem 4rem 0 4rem;
  box-shadow: 0 -10px 10px rgba( 135, 0, 255, 0.2);
}

article h2, article h3, article h4 {

  padding: 3rem;
  font-size: 1.5rem;
  box-shadow: 0 -3px 5px rgba( 135, 0, 255, 0.2);
}


.cover {
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contain {
  background: url('') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50%;
  float: right;
  margin: 2rem 0 0 0;
}

.container {
  max-width: 720px;
}

.section2 {
  margin: 10% -20%;
}

.section h1,
.section h2,
.section h3 { margin: 2rem 0 }


.btn {
  box-shadow: 0 2px 4px rgba( 0,0,0, 0.4);

}
.btn, .badge {
  text-shadow: 0 2px 2px rgba( 0,0,0, 0.4);
  font-family: 'Montserrat', sans-serif; text-transform: uppercase;

}

.waypoint-contentX {
  border: 2px dashed #ccc;
}

.section {
  borderX: 1px dashed #ddd; min-height: 300px; background-colorX: #fdfdfd;
  overflow: hidden;
}

articleX  .section {
  margin: 0 -10% 2rem -10%;
}

article .section .item {
  filter: grayscale(1);
}

article .section .item.isActive {
  filter: grayscale(0);
}

.contentX {
  padding: 3rem 4rem;
}

.isActive {

}
.item-type-Product  {

}
.item-type-Product .card,
.item-type-Product .card-body {
  padding: 0; border: none;
}

.item-type-Product .btn {
  font-size: 1.3rem;
}
.card { padding: 0rem; font-size: 1.3rem;
box-shadow: 0 3px 3px rgba( 0,0,0, 0.4);
}

.list-group {
  background: #f6f6f6;
  font-size: 1.2rem;
}

.list-group-item {
  background: transparent; border: none;
}


.isSeen {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
